body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}

.container {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px;
}